p {
  line-height: 1.7rem;
  color: #2f2f2f;
}
h2 {
  color: #517eff;
  margin: 0;
}
.profile {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 11px solid #517eff;
  border-radius: 8px;
}
h1 {
  margin: 0;
  padding-bottom: 7px;
  color: #517eff;
}
ul#contact-list {
  padding: 0;
}
.statement {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 11px solid #517eff;
  border-radius: 8px;
}
.skills {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 11px solid #517eff;
  border-radius: 8px;
}
.experience {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 11px solid #517eff;
  border-radius: 8px;
}
.education {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 11px solid #517eff;
  border-radius: 8px;
}
h4.experience-date {
  margin: 0;
  font-weight: 500;
  opacity: 0.5;
}
h4.experience-title {
  margin: 10px 0;
}
